@import "variables";

.bg-blue {
  background-color: $blue-color!important;
}

.bg-light-blue {
  background-color: $blue-light-color!important;
}

.bg-light {
  background-color: #F8FAFC!important;
}