@import "../fontawesome-free-5.15.1-web/css/all.css";
@import url("//code.jquery.com/ui/1.12.1/themes/base/theme.css");
@import "bootstrap.min.css";
@import "variables";
@import "backgrounds";
@import "texts";
@import "typography";
@import "buttons";

.img-border {
  border-bottom: 2px solid #CAD5E0;
  position: absolute;
  top: 100px;
  right: 0;
  width: 100%;
}

.circle-img {
  width: 41px;
  height: 41px;
  background: #F0F5F9;
  border-radius: 50px;
  position: absolute;
  top: -112px;
  right: 30px;
}

.progress {
  height: 6px;
  background: #CAD5E0;
}

.progress-bar {
  background-color: $blue-color-30!important;
}

// ------------------------
// Timeline
// ------------------------
.card {
  background: $white-color;
  box-shadow: 0px -15px 99px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
}

.timeline {
  margin: 48px 0;
  padding: 0;
  display: inline-block;
  letter-spacing: 0.2px;
  position: relative;
  line-height: 14px;
  font-size: 14px;
  list-style: none;
  text-align: left;
}

.timeline h4 {
  font-family: $font-family-niramit-600;
  font-size: $font-size-sm;
  line-height: 16px;
  color: $black-color-48;
}

.timeline p {
  font-family: $font-family-niramit-500;
  font-size: $font-size-xs;
  line-height: 16px;
  color: $blue-color-145;
}

.timeline .event .timestamp {
  border-right: 4px solid #CAD5E0;
}

.timeline .event .timestamp:before {
  content: "";
  right: -12px;
  height: 20px;
  width: 20px;
  top: -4px;
  display: block;
  position: absolute;
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C4.477 20 0 15.523 0 10C0 4.477 4.477 -3.8147e-06 10 -3.8147e-06C15.523 -3.8147e-06 20 4.477 20 10C20 15.523 15.523 20 10 20ZM9.003 14L16.073 6.929L14.659 5.515L9.003 11.172L6.174 8.343L4.76 9.757L9.003 14Z' fill='%23CAD5E0'/%3E%3C/svg%3E%0A");
}

.timeline .event.completed .timestamp {
  border-right: 4px solid $blue-color;
}

.timeline .event.completed .timestamp:before {
  content: "";
  right: -12px;
  height: 20px;
  width: 20px;
  top: -4px;
  display: block;
  position: absolute;
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C4.477 20 0 15.523 0 10C0 4.477 4.477 0 10 0C15.523 0 20 4.477 20 10C20 15.523 15.523 20 10 20ZM9.003 14L16.073 6.929L14.659 5.515L9.003 11.172L6.174 8.343L4.76 9.757L9.003 14Z' fill='%232A6FDB'/%3E%3C/svg%3E%0A");
}

.timeline .event:last-of-type .timestamp{
  border-right: 4px solid transparent;
}
