@import "../fontawesome-free-5.15.1-web/css/all.css";
@import url("//code.jquery.com/ui/1.12.1/themes/base/theme.css");
@import "bootstrap.min.css";
.bg-blue {
  background-color: #2A6FDB !important;
}

.bg-light-blue {
  background-color: #D4E2F8 !important;
}

.bg-light {
  background-color: #F8FAFC !important;
}

.text-white {
  color: #ffffff !important;
}

.text-primary {
  color: #2A6FDB !important;
}

.text-info {
  color: #91A4B7 !important;
}

.text-secondary {
  color: #61758A !important;
}

.text-dark {
  color: #445668 !important;
}

.text-light {
  color: #E1E8F0 !important;
}

.text-light-248 {
  color: #F8FAFC !important;
}

@font-face {
  font-family: "Niramit-Light";
  src: url("../fonts/Niramit-Light.eot");
  src: url("../fonts/Niramit-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Niramit-Light.woff2") format("woff2"), url("../fonts/Niramit-Light.woff") format("woff"), url("../fonts/Niramit-Light.ttf") format("truetype"), url("../fonts/Niramit-Light.svg#Niramit-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Niramit-Regular";
  src: url("../fonts/Niramit-Regular.eot");
  src: url("../fonts/Niramit-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Niramit-Regular.woff2") format("woff2"), url("../fonts/Niramit-Regular.woff") format("woff"), url("../fonts/Niramit-Regular.ttf") format("truetype"), url("../fonts/Niramit-Regular.svg#Niramit-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Niramit-Medium";
  src: url("../fonts/Niramit-Medium.eot");
  src: url("../fonts/Niramit-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Niramit-Medium.woff2") format("woff2"), url("../fonts/Niramit-Medium.woff") format("woff"), url("../fonts/Niramit-Medium.ttf") format("truetype"), url("../fonts/Niramit-Medium.svg#Niramit-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Niramit-Semibold";
  src: url("../fonts/Niramit-SemiBold.eot");
  src: url("../fonts/Niramit-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Niramit-SemiBold.woff2") format("woff2"), url("../fonts/Niramit-SemiBold.woff") format("woff"), url("../fonts/Niramit-SemiBold.ttf") format("truetype"), url("../fonts/Niramit-SemiBold.svg#Niramit-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Niramit-Bold";
  src: url("../fonts/Niramit-Bold.eot");
  src: url("../fonts/Niramit-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Niramit-Bold.woff2") format("woff2"), url("../fonts/Niramit-Bold.woff") format("woff"), url("../fonts/Niramit-Bold.ttf") format("truetype"), url("../fonts/Niramit-Bold.svg#Niramit-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.font-size-xxs {
  font-size: 10px;
}

.font-size-xs {
  font-size: 12px;
}

.font-size-sm {
  font-size: 14px;
}

.font-size-md {
  font-size: 16px;
}

.font-size-lg {
  font-size: 18px;
}

.font-size-xl {
  font-size: 24px;
}

.font-size-xxl {
  font-size: 40px;
}

body {
  font-family: "Niramit-Regular";
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline;
}

button {
  display: block;
}

a {
  font-family: "Niramit-Medium";
  font-size: 16px;
  line-height: 24px;
  color: #2A6FDB;
}

h1 {
  font-family: "Niramit-Bold";
  font-size: 40px;
  line-height: 40px;
  color: #1C2A3A;
}

h2 {
  font-family: "Niramit-Semibold";
  font-size: 24px;
  line-height: 28px;
  color: #1C2A3A;
}

h3 {
  font-family: "Niramit-Semibold";
  font-size: 18px;
  line-height: 18px;
  color: #445668;
}

p {
  font-family: "Niramit-Light";
  font-size: 16px;
  line-height: 24px;
  color: #445668;
}

.border-radius-10 {
  border-radius: 10px;
}

.mt-172 {
  margin-top: 172px !important;
}

.mt-350 {
  margin-top: 350px !important;
}

.mb-350 {
  margin-bottom: 350px !important;
}

.mt-208 {
  margin-top: 208px !important;
}

.mb-208 {
  margin-bottom: 208px !important;
}

.mt-52 {
  margin-top: 52px !important;
}

.pb-127 {
  padding-bottom: 127px !important;
}

.pb-88 {
  padding-bottom: 88px !important;
}

.mt-48 {
  margin-top: 48px !important;
}

.mb-83 {
  margin-bottom: 83px !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.btn:active, .btn:focus {
  outline: none !important;
  box-shadow: none;
}

.btn {
  font-family: "Niramit-Semibold";
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
  text-align: center;
  padding: 13px 24px;
}

.btn-primary {
  background-color: #2A6FDB;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  transition: 0.3s;
}
.btn-primary:hover {
  background-color: #1E55BC;
}

.btn-outline-primary {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  color: #2A6FDB;
  transition: 0.3s;
}
.btn-outline-primary:hover {
  background-color: #EAF1FC !important;
  color: #2A6FDB !important;
}

.img-border {
  border-bottom: 2px solid #CAD5E0;
  position: absolute;
  top: 100px;
  right: 0;
  width: 100%;
}

.circle-img {
  width: 41px;
  height: 41px;
  background: #F0F5F9;
  border-radius: 50px;
  position: absolute;
  top: -112px;
  right: 30px;
}

.progress {
  height: 6px;
  background: #CAD5E0;
}

.progress-bar {
  background-color: #1E55BC !important;
}

.card {
  background: #ffffff;
  box-shadow: 0px -15px 99px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
}

.timeline {
  margin: 48px 0;
  display: inline-block;
  letter-spacing: 0.2px;
  position: relative;
  line-height: 14px;
  font-size: 14px;
  list-style: none;
  text-align: left;
}

.timeline h4 {
  font-family: "Niramit-Semibold";
  font-size: 14px;
  line-height: 16px;
  color: #304254;
}

.timeline p {
  font-family: "Niramit-Medium";
  font-size: 12px;
  line-height: 16px;
  color: #91A4B7;
}

.timeline .event .timestamp {
  border-right: 4px solid #CAD5E0;
}

.timeline .event .timestamp:before {
  content: "";
  right: -12px;
  height: 20px;
  width: 20px;
  top: -4px;
  display: block;
  position: absolute;
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C4.477 20 0 15.523 0 10C0 4.477 4.477 -3.8147e-06 10 -3.8147e-06C15.523 -3.8147e-06 20 4.477 20 10C20 15.523 15.523 20 10 20ZM9.003 14L16.073 6.929L14.659 5.515L9.003 11.172L6.174 8.343L4.76 9.757L9.003 14Z' fill='%23CAD5E0'/%3E%3C/svg%3E%0A");
}

.timeline .event.completed .timestamp {
  border-right: 4px solid #2A6FDB;
}

.timeline .event.completed .timestamp:before {
  content: "";
  right: -12px;
  height: 20px;
  width: 20px;
  top: -4px;
  display: block;
  position: absolute;
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C4.477 20 0 15.523 0 10C0 4.477 4.477 0 10 0C15.523 0 20 4.477 20 10C20 15.523 15.523 20 10 20ZM9.003 14L16.073 6.929L14.659 5.515L9.003 11.172L6.174 8.343L4.76 9.757L9.003 14Z' fill='%232A6FDB'/%3E%3C/svg%3E%0A");
}

.timeline .event:last-of-type .timestamp {
  border-right: 4px solid transparent;
}

/*# sourceMappingURL=style.css.map */
