@import "variables";

.text-white {
  color: $white-color!important;
}

.text-primary {
  color: $blue-color!important;
}

.text-info {
  color: $blue-color-145!important;
}

.text-secondary {
  color: $black-color-97!important;
}

.text-dark {
  color: $black-color-68!important;
}

.text-light {
  color: $blue-light-color-225!important;
}

.text-light-248 {
  color: $blue-light-color-248!important;
}