$font-family-niramit-bold: 'Niramit-Bold';
$font-family-niramit-600: 'Niramit-Semibold';
$font-family-niramit-500: 'Niramit-Medium';
$font-family-niramit-regular: 'Niramit-Regular';
$font-family-niramit-300: 'Niramit-Light';

$white-color: #ffffff;
$grey-color: #E5E5E5;
$blue-light-color-248: #F8FAFC;
$blue-light-color-244: #F4F8FD;
$blue-light-color-225: #E1E8F0;
$blue-light-color: #D4E2F8;
$blue-color-145: #91A4B7;
$blue-color: #2A6FDB;
$blue-color-30: #1E55BC;
$black-color-97: #61758A;
$black-color-68: #445668;
$black-color-48: #304254;
$black-color-28: #1C2A3A;

$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-xxl: 40px;